:root {
  --main-color: #f3f2f1;
  --secondary-color: #7d8c84;
  --tertiary-color: #ec221f;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: 0.8fr 5fr;
  font-family: "Inika", serif, Arial;
  padding: 0px;
  /* overflow: hidden; */
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 40px;
  span {
    color: var(--tertiary-color);
    font-weight: bold;
  }
}

main {
  padding: 15px 10px;
}

.small_logo {
  border-bottom: 2px solid black;
  width: 95%;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .round_logo {
    width: 50px;
    height: 50px;
  }
  .round_logo {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.7fr;
    gap: 3px;
    .first_small {
      background-color: rgb(38, 5, 139);
      transform: rotate(5deg);
    }
    .second_small {
      background-color: rgb(238, 230, 11);
    }
    .third_small {
      background-color: rgb(243, 69, 53);
      transform: rotate(-5deg);
    }
  }
}

.lateral_bar {
  min-width: 80px;
  max-width: 500px;
  display: none;
  gap: 10px;
  align-items: end;
  font-size: 1.9vw;
  .book_title {
    writing-mode: vertical-rl;
  }
  .first_book {
    background-color: rgb(38, 5, 139);
    height: 80%;
    transform: rotate(1.5deg);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    justify-content: space-around;

    .first_detail {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      width: 100%;
      text-align: center;
      padding: 20px;
    }
  }
  .second_book {
    background-color: rgb(238, 230, 11);
    height: 100%;
    color: #714a07;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .second {
      font-weight: bold;
    }
    .rhombus {
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      background: #714a07;
    }
  }
  .third_book {
    background-color: rgb(243, 69, 53);
    height: 90%;
    transform: rotate(-2deg);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    color: #7e0303;
    .third_detail {
      height: 20px;
      border-top: 3px solid #7e0303;
      border-bottom: 3px solid #7e0303;
    }
  }
}

.user_story {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
  input {
    border-radius: 8px;
    padding: 10px 20px;
    border: 1px solid black;
    width: 80%;
  }
}

.button_menu {
  position: relative;
  button {
    background-color: var(--tertiary-color);
    border-radius: 8px;
    border: 2px solid black;
    cursor: pointer;
    margin: 0px;
    padding: 3px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    img {
      vertical-align: middle;
      min-width: 40px;
    }
  }
  button:hover {
    background-color: #56615b;
  }
}

.content_dropdown {
  position: absolute;
  display: none;
  background-color: var(--main-color);
  min-width: 160px;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
  a {
    text-decoration: none;
    color: black;
    padding: 12px 16px;
    display: flex;
    gap: 5px;
    font-size: 1rem;
    img {
      width: 20px;
    }
  }
}

.content_dropdown a:hover {
  background-color: rgb(212, 212, 210);
}

.show {
  display: block;
}

.books_first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
  button {
    border-radius: 8px;
    border: 2px solid black;
    background-color: var(--tertiary-color);
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
    white-space: nowrap;
  }
  button:hover {
    background-color: #56615b;
  }
  h2 {
    font-size: 1.5em;
    white-space: nowrap;
  }
}

.books_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 40px;
  justify-items: center;
  .book_article {
    border: 2px solid black;
    width: 200px;
    height: 290px;
    cursor: pointer;
  }
  .book_article:hover {
    transform: scale(1.1);
    transition: all 100ms;
  }
}

.book_article_info {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  height: 52%;
  min-width: 280px;
  max-width: 380px;
  background-color: white;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  box-shadow: 5px 5px 1px rgba(114, 114, 114, 0.2);
  padding: 30px;

  .first_line_info button,
  .synopsis button {
    border: none;
    cursor: pointer;
    background: none;
    align-self: flex-start;
  }

  .first_line_info {
    display: flex;
    justify-content: space-between;
  }
  .first_line_info > img {
    width: 80px;
    border-radius: 8px;
    border: 2px solid black;
  }

  button > img {
    width: 20px;
  }

  .info_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .delete {
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: red;
    cursor: pointer;
    background-color: black;
    font-size: 0.9rem;
  }
  .delete:hover {
    background-color: rgb(40, 40, 40);
  }
  .delete > span {
    color: #787878;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
  }

  .info_content p {
    color: #787878;
  }
  p > span {
    font-weight: bold;
  }

  .info_part {
    padding: 10px;
    border-radius: 8px;
  }
  .pages {
    background-color: #f3f3f3;
  }

  .read {
    background-color: #d0eacb;
  }

  .synopsis {
    background-color: #e3d0e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    cursor: pointer;
    img {
      width: 10px;
      vertical-align: middle;
    }
  }
}

.book_create {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  min-width: 280px;
  max-width: 380px;
  border: none;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 5px 5px 1px rgba(114, 114, 114, 0.2);
}
.first_line_info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.cross_button,
.cross_button_create {
  border: none;
  cursor: pointer;
  background: none;
  align-self: flex-start;
}
.first_line_info > img {
  width: 80px;
  border-radius: 8px;
  border: 2px solid black;
}

.cross_button_create > img,
.cross_button > img {
  width: 20px;
}

.book_dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  min-width: 280px;
  max-width: 380px;
  border: none;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 5px 5px 1px rgba(114, 114, 114, 0.2);

  .info_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    p {
      color: #787878;
    }
    span {
      font-weight: bold;
    }
  }
  .info_part {
    padding: 10px;
    border-radius: 8px;
  }

  .synopsis_info {
    background-color: white;
    display: none;
  }

  .synopsis {
    background-color: #e3d0e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    cursor: pointer;
    img {
      width: 10px;
      vertical-align: middle;
    }
  }
  .pages {
    background-color: #f3f3f3;
  }
  .read {
    background-color: #d0eacb;

    .switch {
      position: relative;
      display: inline-block;
      width: 35px;
      height: 20px;
    }
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    input:checked + .slider {
      background-color: #51e816df;
    }
    input:checked + .slider:before {
      transform: translateX(13px);
    }

    .slider {
      position: absolute;
      background-color: rgb(173, 173, 173);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .slider:before {
      position: absolute;
      content: "";
      background-color: white;
      height: 16px;
      width: 16px;
      bottom: 2px;
      left: 3px;
      transition: 0.3s;
    }
    .slider.round {
      border-radius: 34px;
    }
    .slider.round:before {
      border-radius: 50%;
    }
  }

  .delete {
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: red;
    cursor: pointer;
    background-color: black;
    font-size: 0.9rem;
  }
  .delete:hover {
    background-color: rgb(40, 40, 40);
  }
  .delete > span {
    color: #787878;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
  }
}

.switch {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(142, 140, 140);
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #51e816df;
}
input:checked + .slider:before {
  transform: translateX(16px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.form_row {
  display: flex;
  flex-direction: column;
  gap: 3px;

  input {
    border-radius: 8px;
    padding: 5px;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  button {
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: rgb(52, 52, 52);
  }
}

@media screen and (min-width: 200px) {
  body {
    grid-template-columns: none;
  }
}
@media screen and (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .header {
    font-size: 1.7rem;
  }
  .books_first h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 900px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  .header {
    font-size: 2rem;
  }
  .small_logo {
    display: none;
  }
  main {
    margin-left: 20px;
    padding: 40px 10px;
  }
  body {
    grid-template-columns: 1fr 5fr;
  }

  .button_menu {
    display: none;
  }
  .user_story {
    display: flex;
  }

  .lateral_bar {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.7fr;
  }
  .books_first h2 {
    font-size: 2.5rem;
  }
}
